<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a4ab028ddc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gamja+Flower&family=Gugi&family=Jua&family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/logout.css"/>
    <title>로그아웃</title>
</head>
<body>
<div class="main">
    <h1>잘갑써양</h1>
    <h1>또시 꼭 옵서양</h1>
    <a th:href="@{'/'}"><img src="/img/bye.png"></a>
</div>

</body>
</html>